.DS_Store
.idea

*.iml
/client/mobile/Sudoo/.gradle
/client/mobile/Sudoo/local.properties
/client/mobile/Sudoo/.idea/caches
/client/mobile/Sudoo/.idea/libraries
/client/mobile/Sudoo/.idea/modules.xml
/client/mobile/Sudoo/.idea/workspace.xml
/client/mobile/Sudoo/.idea/navEditor.xml
/client/mobile/Sudoo/.idea/assetWizardSettings.xml
/client/mobile/Sudoo/.idea/
/client/mobile/Sudoo/.DS_Store
/client/mobile/Sudoo/build
/client/mobile/Sudoo/captures
/client/mobile/Sudoo/.externalNativeBuild
/client/mobile/Sudoo/.cxx

/server/HELP.md
/server/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/server/.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
server/.DS_Store

.vscode
recommend/server/__pycache__/
recommend/server/env/
recommend/server/venv/
recommend/server/model.keras
recommend/model/__pycache__/
recommend/model/env/
recommend/model/venv/
recommend/model/service-account.json
