.DS_Store
.idea

*.iml
/client/mobile/Sudoo/.gradle
/client/mobile/Sudoo/local.properties
/client/mobile/Sudoo/.idea/caches
/client/mobile/Sudoo/.idea/libraries
/client/mobile/Sudoo/.idea/modules.xml
/client/mobile/Sudoo/.idea/workspace.xml
/client/mobile/Sudoo/.idea/navEditor.xml
/client/mobile/Sudoo/.idea/assetWizardSettings.xml
/client/mobile/Sudoo/.idea/
/client/mobile/Sudoo/.DS_Store
/client/mobile/Sudoo/build
/client/mobile/Sudoo/captures
/client/mobile/Sudoo/.externalNativeBuild
/client/mobile/Sudoo/.cxx

/server/HELP.md
/server/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/server/.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/server/.DS_Store

# Miscellaneous
*.class
*.log
*.pyc
*.swp
/client/web/sudoo/.DS_Store
/client/web/sudoo/.atom/
/client/web/sudoo/.buildlog/
/client/web/sudoo/.history
/client/web/sudoo/.svn/
/client/web/sudoo/migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
/client/web/sudoo/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
/client/web/sudoo/.dart_tool/
/client/web/sudoo/.flutter-plugins
/client/web/sudoo/.flutter-plugins-dependencies
/client/web/sudoo/.packages
/client/web/sudoo/.pub-cache/
/client/web/sudoo/.pub/
/client/web/sudoo/build/

# Symbolication related
/client/web/sudoo/app.*.symbols

# Obfuscation related
/client/web/sudoo/app.*.map.json

# Android Studio will place build artifacts here
/client/web/sudoo/android/app/debug
/client/web/sudoo/android/app/profile
/client/web/sudoo/android/app/release
/client/web/sudoo/pubspec.lock
