<!DOCTYPE html>
<html>

<head>
    <title>Payment Successful</title>
    <link rel="stylesheet" href="../static/css/payment_s.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="parent1">
        <div class="parent">
            <h1>Payment Successful</h1>
            <img class="image_success" src="../static/image/pay_s.png" alt="Payment Logo">
            <p>Your payment has been successfully processed.</p>
            <button class="bt_return">Go to Home</button>
        </div>
    </div>
</body>

</html>